{% extends "/base.html" %}
{% from 'macros.html' import message_part with context %}

{% block title %}微信存档[自动]{% endblock %}

{% block nav %}
    <a class="active item"><i class="circle icon"></i>微信存档[自动]</a>
    <a class="item" href="{{ url_for('main.site_index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    <div class="ui dividing blue header">
        <div class="content">
            <h2>微信存档[自动]</h2>
            <div class="sub header">
                <a class="black" href="{{ url_for('main.wechat_saver') }}">切换至[手动]</a>
            </div>
        </div>
    </div>
    {{ message_part() }}
    <form class="ui form" action="{{ url_for('main.wechat_saver') }}?auto_saver=1" method="post">
        <div class="field">
            <label>Cookies</label>
            <div class="two fields">
                <div class="field">
                    <input type="text" name="userId" placeholder="userId">
                </div>
                <div class="field">
                    <input type="text" name="_t" placeholder="_t" value="799268f6626dc3979494d9e751c39fde">
                </div>
            </div>
        </div>
        <div class="field">
            <label>func_type</label>
            <select name="func_type" class="ui selection dropdown">
                <option value="home" disabled>home</option>
                <option value="playerData" disabled>playerData</option>
                <option value="playerData_album" disabled>playerData_album</option>
                <option value="record" disabled>record</option>
                <option value="record_playlogDetail">record_playlogDetail</option>
            </select>
        </div>
        <div class="field">
            <label>idx</label>
            <div class="two fields">
                <div class="field">
                    <input type="text" name="start_posi" maxlength="2" placeholder="0">
                </div>
                <div class="field">
                    <input type="text" name="end_posi" maxlength="2" placeholder="50">
                </div>
            </div>
        </div>
        <input class="ui positive button" type="submit" value="存储">
    </form>
{% endblock %}
