{% extends "/base.html" %}

{% block title %}maimai_DX 查分器{% endblock %}

{% block content %}
    <div class="ui positive message">
        <div class="content">
            欢迎访问 ヽ(･ω･´ﾒ)
        </div>
    </div>

    <div class="ui five doubling cards">
        <div class="blue card">
            <div class="content">
                <div class="header">maimai_DX_CN_probe</div>
                <div class="description">周常出勤记录</div>
                <div class="ui top right attached pink label">New</div>
            </div>
            <a class="ui attached button"
               href="{{ url_for('main.wechat_archive') }}"><i class="music icon"></i></a>
        </div>

        <div class="blue card">
            <div class="content">
                <div class="header">maimai_DX_CN_saver</div>
                <div class="description">舞萌数据存储</div>
            </div>
            <a class="ui attached button"
               href="https://github.com/yuangezhizao/maimai_DX_CN_saver" target="_blank"><i
                    class="database icon"></i></a>
        </div>
    </div>
{% endblock %}