{% extends "/base.html" %}

{% block title %}maimai_DX 查分器{% endblock %}

{% block content %}
    <div class="ui positive message">
        <h2 class="ui header">欢迎访问 ヽ(･ω･´ﾒ)</h2>
        <p>这里是个人在用的 maimai_DX 查分器，<a
                href="https://www.yuangezhizao.cn/articles/python/flask/serverless/maimai_DX_CN_probe.html">查看简介</a>
        </p>
    </div>

    <h4 class="ui top attached block green header">
        wechat_archive
    </h4>
    <div class="ui bottom attached green segment">
        <a href="{{ url_for('main.wechat_archive') + '?home' }}">主页</a>，
        <a href="{{ url_for('main.wechat_archive') + '?playerData' }}">游戏数据</a>，
        <a href="{{ url_for('main.wechat_archive') + '?playerData_album' }}">相册</a>，
        <a href="{{ url_for('main.wechat_archive') + '?record' }}">游戏记录</a>
    </div>

    <h4 class="ui top attached block purple header">
        record
    </h4>
    <div class="ui attached purple segment">
        <a href="{{ url_for('main.record') }}">记录（分页）</a>，
        <a href="{{ url_for('main.record') + '?diff' }}">差异（分页）</a>
    </div>
    <div class="ui bottom attached segment">
        <a href="{{ url_for('main.record') + '?all' }}">记录（全部）</a>，
        <a href="{{ url_for('main.record')+ '?diff&all' }}">差异（全部）</a>
    </div>

    <h4 class="ui top attached block brown header">
        info
    </h4>
    <div class="ui bottom attached brown segment">
        <a href="{{ url_for('main.info') }}">铺面列表（Ver.CH1.11-C）</a>
    </div>

    <h4 class="ui top attached block pink header">
        rating
    </h4>
    <div class="ui bottom attached pink segment">
        <a href="{{ url_for('main.rating') }}" style="pointer-events:none">得分计算（定数表维护）</a>
    </div>

    <h4 class="ui top attached block orange header">
        maimai_DX_CN_saver
    </h4>
    <div class="ui bottom attached orange segment">
        <a href="https://github.com/yuangezhizao/maimai_DX_CN_saver" target="_blank">数据存储</a>
    </div>
{% endblock %}