{% extends "/base.html" %}

{% block title %}maimai_DX 查分器{% endblock %}

{% block content %}
    <div class="ui positive message">
        <div class="content">
            欢迎访问 ヽ(･ω･´ﾒ)
        </div>
    </div>

    <h4 class="ui top attached block header">
        wechat_archive
    </h4>
    <div class="ui bottom attached segment">
        <a href="{{ url_for('main.wechat_archive') + '?home' }}">主页</a>，
        <a href="{{ url_for('main.wechat_archive') + '?playerData' }}">游戏数据</a>，
        <a href="{{ url_for('main.wechat_archive') + '?playerData_album' }}">相册</a>，
        <a href="{{ url_for('main.wechat_archive') + '?record' }}">游戏记录</a>
    </div>

    <div class="ui section divider"></div>

    <h4 class="ui top attached block header">
        record
    </h4>
    <div class="ui attached segment">
        <a href="{{ url_for('main.record') }}">记录（分页）</a>，
        <a href="{{ url_for('main.record') + '?diff' }}">差异（分页）</a>
    </div>
    <div class="ui bottom attached segment">
        <a href="{{ url_for('main.record') + '?all' }}">记录（全部）</a>，
        <a href="{{ url_for('main.record')+ '?diff&all' }}">差异（全部）</a>
    </div>

    <div class="ui section divider"></div>

    <h4 class="ui top attached block header">
        maimai_DX_CN_saver
    </h4>
    <div class="ui bottom attached segment">
        <a href="https://github.com/yuangezhizao/maimai_DX_CN_saver" target="_blank">数据存储</a>
    </div>
{% endblock %}