<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes"/>
    <script>
        var baseW = 768;
        var iOSW = 0;
        var ua = navigator.userAgent.toLowerCase();
        var isiOS = (ua.indexOf("iphone") > -1) || (ua.indexOf("ipod") > -1) || (ua.indexOf("ipad") > -1);
        if (isiOS) {
            iOSW = document.documentElement.clientWidth;
        }
        window.addEventListener("resize", updateMetaViewport, false);
        window.addEventListener("orientationchange", updateMetaViewport, false);
        var ev = document.createEvent("UIEvent");
        ev.initEvent("resize", true, true)
        window.dispatchEvent(ev);

        function updateMetaViewport() {
            var viewportContent;
            var w = window.outerWidth;
            if (isiOS) {
                w = iOSW;
            }
            if (w < baseW) {
                viewportContent = "width=480,initial-scale=" + w / 480 + ",user-scalable=yes,shrink-to-fit=no";
            } else {
                viewportContent = "width=device-width,initial-scale=1.0,user-scalable=yes,shrink-to-fit=no";
            }
            document.querySelector("meta[name='viewport']").setAttribute("content", viewportContent);
        }
    </script>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8; IE=EmulateIE9"/>
    {#	<meta http-equiv="Pragma" CONTENT="no-cache">#}
    {#	<meta http-equiv="Cache-Control" CONTENT="no-cache">#}
    {#	<meta http-equiv="Expires" CONTENT="-1">#}
    <meta name="robots" content="INDEX, FOLLOW"/>
    <meta name="author" content="(C) SEGA">
    <meta name="copyright" content="&copy;SEGA">
    <meta name="description" content="此网页可浏览SEGA(世嘉)音乐机台「舞萌DX」的个人游戏记录。">
    <meta name="keywords" content="舞萌DX,maimai DX,maimai deluxe,sega"/>
    <meta name="theme-color" content="#51bcf3">

    <title>舞萌DX－主页－</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/css/maimai-mobile/common.css') }}"/>
    <link rel="apple-touch-icon-precomposed" href="https://lab.yuangezhizao.cn/maimai-mobile/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://lab.yuangezhizao.cn/maimai-mobile/apple-touch-icon.png">
    <!--
    ここに百度統計のスクリプト追加予定
    -->
    <script src="https://cdn.jsdelivr.net/npm/highcharts/highcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/modules/exporting.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/modules/series-label.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/modules/oldie.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/themes/dark-unica.js"></script>
</head>
<body oncontextmenu="return false;">
<div class="wrapper t_c">
    <div class="d_b p_5"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/logo.png" class="logo"/></div>
</div>
<div class="wrapper main_wrapper t_c">
    <header class="f_0">
        <div class="f_0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 10"
                 preserveAspectRatio="none" style="height:10px">
                <path d="M0,10 v-5 q5,5 10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 v5 Z"
                      fill="#7ed3ff"></path>
            </svg>
            <div class="menu">
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?home' }}" class="d_ib col4 p_4"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_home_on.png" class="w_112"/></a>
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?playerData' }}"
                   class="d_ib col4 p_4"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_playerdata.png" class="w_112"/></a>
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?record' }}" class="d_ib col4 p_4"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_record.png" class="w_112"/></a>
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?ranking' }}" class="d_ib col4 p_4"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_ranking.png" class="w_112"/></a>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 10"
                 preserveAspectRatio="none" style="height:10px">
                <path d="M0,0 v5 q5,5 10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 v-5 Z"
                      fill="#7ed3ff"></path>
            </svg>
        </div>
    </header>

    <div class="m_t_5 m_b_10 t_l f_0">
        <a href="{{ url_for('main.wechat_archive', _external=True) + '?home' }}" class="p_r d_ib">
            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_sub_home_home.png?ver=1.00" class="w_120"/>
            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_on.png" class="submenu_selected"/>
        </a>
        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_sub_home.png" class="w_120"/>
        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_sub_home.png" class="w_120"/>
        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_sub_home.png" class="w_120"/>
    </div>

    <div id="container"></div>
    <br>

    <div style="display:inline-block">
        {% for data in HOME_data %}
            <div class="see_through_block m_15 m_t_0 p_10 p_r t_l f_0 m_b_30">
                <div class="basic_block p_10 p_b_5 f_0">
                    <img src="{{ data.basic_img | replace("maimai.wahlap.com", "lab.yuangezhizao.cn") }}"
                         class="w_112 f_l"/>
                    <div class="p_l_10 f_l">
                        <div class="trophy_block trophy_Silver p_3 t_c f_0">
                            <div class="trophy_inner_block f_13">
                                <span>{{ data.trophy }}</span>
                            </div>
                        </div>
                        <div>
                            <div class="name_block f_l f_14">{{ data.name }}</div>
                            <div class="f_r t_r f_0">
                                <div class="p_r p_3">
                                    <img src="{{ data.rating_img | replace("maimai.wahlap.com", "lab.yuangezhizao.cn") }}"
                                         class="h_30 f_r"/>
                                    <div class="rating_block f_11">{{ data.rating }}</div>
                                </div>
                                <div class="p_r_5 f_11">MAX：{{ data.rating_max }}</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_01.png"
                             class="user_data_block_line"/>
                        <div class="clearfix"></div>
                        <img src="{{ data.grade_img | replace("maimai.wahlap.com", "lab.yuangezhizao.cn") }}"
                             class="h_25 f_l"/>
                        <div class="p_l_10 f_l f_14"><img
                                src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                                class="h_20 v_b"/>×{{ data.star }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <img src="{{ data.chara | replace("maimai.wahlap.com", "lab.yuangezhizao.cn") }}"
                     class="w_120 m_t_10 f_r"/>
                <div class="comment_block f_l f_12">
                    ID：{{ data.id }}<br>
                    缓存时间：{{ data.cache_dt }}
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>
    {#<div class="container p_10">#}
    {#	<div class="w_430 m_15 m_t_0 m_b_0 f_14">#}
    {#		<div class="w_112 f_l f_0">#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/home/"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_home.png" class="w_112"></a>#}
    {#		</div>#}
    {#		<div class="p_10 f_l t_l v_t">#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/home/" class="d_b m_b_5">主页</a>#}
    {#		</div>#}
    {#		<div class="clearfix"></div>#}
    {#	</div>#}
    {#	<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_01.png" class="w_430"/>#}
    {#	<div class="w_430 m_15 m_t_0 m_b_0 f_14">#}
    {#		<div class="w_112 f_l f_0">#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/playerData/"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_playerdata.png" class="w_112"></a>#}
    {#		</div>#}
    {#		<div class="p_10 f_l t_l v_t">#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/playerData/" class="d_b m_b_5">玩家数据</a>#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/playerData/album/" class="d_b">相册</a>#}
    {#		</div>#}
    {#		<div class="clearfix"></div>#}
    {#	</div>#}
    {#	<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_01.png" class="w_430"/>#}
    {#	<div class="w_430 m_15 m_t_0 m_b_0 f_14">#}
    {#		<div class="w_112 f_l f_0">#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/record/"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_record.png" class="w_112"></a>#}
    {#		</div>#}
    {#		<div class="p_10 f_l t_l v_t">#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/record/" class="d_b m_b_5">游戏历史记录</a>#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/record/musicGenre/" class="d_b">乐曲成绩</a>#}
    {#		</div>#}
    {#		<div class="clearfix"></div>#}
    {#	</div>#}
    {#	<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_01.png" class="w_430"/>#}
    {#	<div class="w_430 m_15 m_t_0 m_b_0 f_14">#}
    {#		<div class="w_112 f_l f_0">#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/ranking/"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_ranking.png" class="w_112"></a>#}
    {#		</div>#}
    {#		<div class="p_10 f_l t_l v_t">#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/ranking/" class="d_b m_b_5">按乐曲区分</a>#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/ranking/deluxeRating/" class="d_b m_b_5">DX RATING</a>#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/ranking/totalDeluxeScore/" class="d_b m_b_5">总DX分数</a>#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/ranking/totalAchievement/" class="d_b m_b_5">总完成率</a>#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/ranking/totalSyncPoint/" class="d_b m_b_5">总同步点数</a>#}
    {#			<a href="https://maimai.wahlap.com/maimai-mobile/ranking/totalAwakening/" class="d_b">总觉醒数</a>#}
    {#		</div>#}
    {#		<div class="clearfix"></div>#}
    {#	</div>#}
    {#</div>#}
    {#<div class="m_15 p_10">#}
    {#	<form action="https://maimai.wahlap.com/maimai-mobile/home/homeIndex/logout" method="get" accept-charset="utf-8" class="f_0">#}
    {#		<input type="hidden" name="idx" value="0">#}
    {#		<button type="submit" class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/btn_home_logout.png" class="w_80 pointer"></button>#}
    {#	</form>#}
    {#</div>#}


    <footer class="f_0">
        <div class="footer_marquee">
            <div class="footer w_480">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 50"
                     preserveAspectRatio="none" style="height:50px">
                    <path d="M0,0 v25 q5,5 10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 v-25 Z"
                          fill="#7cbc29"></path>
                </svg>
                {#				<div class="m_15 m_t_0 f_13">#}
                {#					<div class="m_5"><a href="https://lab.yuangezhizao.cn/maimai-mobile/termsOfService/" target="_blank" class="white" rel="noopener">使用条款</a></div>#}
                {#					<div class="m_5"><a href="https://lab.yuangezhizao.cn/maimai-mobile/sitePolicy/" target="_blank" class="white" rel="noopener">使用须知</a></div>#}
                {#					<div class="m_5"><a href="https://sega-group.co.jp/english/privacypolicy/" target="_blank" class="white" rel="noopener">私隐政策</a></div>#}
                {#				</div>#}
                {#				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_02.png" class="w_430 m_b_10" />#}
                <div class="f_l m_15 m_l_30 p_l_10">
                    <a href="http://sega.jp" target="_blank" rel="noopener"><img
                            src="https://lab.yuangezhizao.cn/maimai-mobile/img/logo_sega.png"/></a>
                    {#					<div class="f_15 p_5">© SEGA</div>#}
                </div>
                <div class="m_15">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/logo_wahlap.png"/></a>
                    {#					<div class="f_11 p_3"><a href="http://www.miitbeian.gov.cn" style="text-decoration:none; color: #fff" target="_blank" rel="noopener">粤ICP备05005783号</a></div>#}
                </div>
                <div class="p_10">
                    <div class="f_12 l_h_12"></div>
                    <div class="f_12 l_h_12">Modified for personal use，yuangezhizao © 2020</div>
                    <div class="f_12 l_h_12"></div>
                    {#					<div class="f_12 l_h_12">© Crypton Future Media, INC. www.piapro.net <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/piapro.png" style="width:38px"/></div>#}
                    {#					<div class="f_12 l_h_12">© Crypton Future Media, INC. www.piapro.net <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/piapro.png" style="width:38px"/> GUMI(Megpoid)©INTERNET Co., LTD.</div>#}
                    {#					<div class="f_12 l_h_12">© TAITO CORP.1996</div>#}
                    {#					<div class="f_12 l_h_12">© TAITO CORP.1996 ©SEGA</div>#}
                    {#					<div class="f_12 l_h_12">©1st PLACE Co., Ltd. / IA PROJECT</div>#}
                    {#					<div class="f_12 l_h_12">©2014 Konami Digital Entertainment</div>#}
                    {#					<div class="f_12 l_h_12">©2015 サンカクヘッド／集英社・「干物妹！うまるちゃん」製作委員会</div>#}
                    {#					<div class="f_12 l_h_12">©2017 VOCALOMAKETS Powered by Bumpy Factory Corporation. 結月ゆかりは株式会社バンピーファクトリーの登録商標です。</div>#}
                    {#					<div class="f_12 l_h_12">©2017 サンカクヘッド／集英社・「干物妹！うまるちゃんR」製作委員会</div>#}
                    {#					<div class="f_12 l_h_12">©2018 VOCALOMAKETS Powered by Bumpy Factory Corporation. ©Copyright  2014 AI,Inc. All Rights Reserved. ©AHS Co. Ltd.</div>#}
                    {#					<div class="f_12 l_h_12">©2018 VOCALOMAKETS Powered by Bumpy Factory Corporation. 結月ゆかりは株式会社バンピーファクトリーの登録商標です。</div>#}
                    {#					<div class="f_12 l_h_12">©BANDAI NAMCO Entertainment Inc.</div>#}
                    {#					<div class="f_12 l_h_12">©BANDAI NAMCO Games Inc.</div>#}
                    {#					<div class="f_12 l_h_12">©BANDAI NAMCO Games Inc. © TAITO CORP.1996</div>#}
                    {#					<div class="f_12 l_h_12">©BANDAI NAMCO Games Inc. ©SEGA</div>#}
                    {#					<div class="f_12 l_h_12">©HARUKAZE</div>#}
                    {#					<div class="f_12 l_h_12">©Junky</div>#}
                    {#					<div class="f_12 l_h_12">©MTK/INTERNET Co., Ltd.</div>#}
                    {#					<div class="f_12 l_h_12">©NHN PlayArt Corp. ©DWANGO Co., Ltd.</div>#}
                    {#					<div class="f_12 l_h_12">©Sammy</div>#}
                    {#					<div class="f_12 l_h_12">©SEGA</div>#}
                    {#					<div class="f_12 l_h_12">©SEGA / f4samurai</div>#}
                    {#					<div class="f_12 l_h_12">©SEGA/©RED</div>#}
                    {#					<div class="f_12 l_h_12">©SEGA/ＧＯ！ＧＯ！５７５製作委員会</div>#}
                    {#					<div class="f_12 l_h_12">©SEGA©RED Illustration:Kosuke Fujishima</div>#}
                    {#					<div class="f_12 l_h_12">©SEGA©RED©白泉社</div>#}
                    {#					<div class="f_12 l_h_12">©TAITO CORP.1978,2014</div>#}
                    {#					<div class="f_12 l_h_12">©TOHOKU PENET K.K.</div>#}
                    {#					<div class="f_12 l_h_12">©あfろ・芳文社／野外活動サークル</div>#}
                    {#					<div class="f_12 l_h_12">©にじよめ</div>#}
                    {#					<div class="f_12 l_h_12">©鎌池和馬／冬川基／アスキー・メディアワークス／PROJECT-RAILGUN S</div>#}
                    {#					<div class="f_12 l_h_12">©上海アリス幻樂団</div>#}
                    {#					<div class="f_12 l_h_12">©上海アリス幻樂団 「おてんば恋娘」</div>#}
                    {#					<div class="f_12 l_h_12">©上海アリス幻樂団 「竹取飛翔　～ Lunatic Princess」</div>#}
                    {#					<div class="f_12 l_h_12">designed by HaltquinZ♠♥♣♦(ましろま+Rinne.6)</div>#}
                    {#					<div class="f_12 l_h_12">GUMI(Megpoid)©INTERNET Co., LTD.</div>#}
                    {#					<div class="f_12 l_h_12">illustろこる(@tuno901)</div>#}
                    {#					<div class="f_12 l_h_12">Licensed by REISSUE RECORDS inc. © Crypton Future Media, INC. www.piapro.net <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/piapro.png" style="width:38px"/></div>#}
                    {#					<div class="f_12 l_h_12">Licensed by TOY'S FACTORY INC.</div>#}
                    {#					<div class="f_12 l_h_12">ⓟ2015 SPACE SHOWER NETWORKS INC. ©2015 SPACE SHOWER NETWORKS INC.</div>#}
                    {#					<div class="f_12 l_h_12">TVアニメ『Hi☆sCoool! セハガール』ⓒSEGA/セハガガ学園理事会</div>#}
                    {#					<div class="f_12 l_h_12">セガ・ハード・ガールズ ©SEGA TVアニメ『Hi☆sCoool! セハガール』©SEGA/セハガガ学園理事会</div>#}
                    {#					<div class="f_12 l_h_12">プランチャイム</div>#}
                    {#					<div class="f_12 l_h_12">蒲焼鰻 ©上海アリス幻樂団</div>#}
                    {#					<div class="f_12 l_h_12">重音テト© 線/小山乃舞世/ツインドリル</div>#}
                    {#					<div class="f_12 l_h_12">U.S.A. Music by Claudio Accatino, Donatella Cirelli & Anna Maria Gioco  Words by Donatella Cirelli & Severino Lombardoni © by THE SAIFAM GROUP SRL © by EDIZIONI ZYX MUSIC S.R.L. All rights reserved. Used by permission. Rights for Japan administered by NICHION, INC. Licensed by Avex Music Publishing Inc.</div>#}
                    {#					<div class="f_12 l_h_12">©2019 VOCALOMAKETS Powered by Bumpy Factory Corporation. 結月ゆかりは株式会社バンピーファクトリーの登録商標です。</div>#}
                    {#					<div class="f_12 l_h_12">©2019 VOCALOMAKETS Powered by Bumpy Factory Corporation. 紲星あかりは株式会社バンピーファクトリーの登録商標です。</div>#}
                    {#					<div class="f_12 l_h_12">© Crypton Future Media, INC. www.piapro.net <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/piapro.png" style="width:38px"/> 2012 by FUJIPACIFIC MUSIC INC. & DWANGO Co., Ltd.</div>#}
                    {#					<div class="f_12 l_h_12">©2015 by HIP LAND MUSIC CORPORATION INC. Licensed by Victor Entertainment</div>#}
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://lab.yuangezhizao.cn/maimai-mobile/js/jquery.marquee.js"></script>
{#<script>#}
{#    $(function () {#}
{#        // 許容幅#}
{#        var widthMax = 258;#}
{#        $('.trophy_inner_block').each(function () {#}
{#            var span = $(this).children('span');#}
{#            var textWidth = span.innerWidth();#}
{#            if (textWidth > widthMax) {#}
{#                $(span).marquee();#}
{#            }#}
{#        });#}
{#    });#}
{#</script>#}
<script>
    var id_data = {{ id_data | safe }};
    var rating_data = {{ rating_data | safe }};
    var rating_max_data = {{ rating_max_data | safe }};
    var star_data = {{ star_data | safe }};
    var cache_dt_data = {{ cache_dt_data | safe }};

    function convert_date_from_string(datetime) {
        var split_date = datetime.split(" ")[0].split('-');
        var date = new Date(split_date[0], split_date[1] - 1, split_date[2]);
        return date.getTime();
    }

    function final_convert(music_count_data) {
        var music_count_data_new = [];
        for (var i = 0; i < cache_dt_data.length; i++) {
            music_count_data_new.push([
                convert_date_from_string(cache_dt_data[i]),
                music_count_data[i]
            ]);
        }
        return music_count_data_new;
    }

    var chart = Highcharts.chart('container', {
        global: {
            useUTC: true
        },
        chart: {
            zoomType: "x",
            //backgroundColor: 'rgba(255, 255, 255, 0.6)',
        },
        title: {
            text: ''
        },
        // subtitle: {
        // 		text: 'Added by yuangezhizao © 2020'
        // },
        xAxis: {
            labels: {
                formatter: function () {
                    return Highcharts.dateFormat('%y/%m/%d', this.value);
                }
            },
            type: 'datetime',
            title: {
                text: '缓存时间'
            }
        },
        yAxis: {
            title: {
                text: 'Num.Count()'
            }
        },
        tooltip: {
            // formatter:function(){
            // 	var time=new Date(this.x),str='<span style="font-size:16px">',check=function(a){return (a<10?'0':'')+a};
            // 	str+=time.getFullYear()+'/'+check(time.getMonth()+1)+'/'+check(time.getDate())+'</span><br><table>';
            // 	if(!this.points){
            // 		str=check(time.getMonth()+1)+'/'+check(time.getDate())+'<br><table>';
            // 		str+='<tr><td style="color:'+this.color+'">'+this.point.name+'</td><td style="text-align:right">'+this.y+'</td></tr>';
            // 		str+='</table>';
            // 		return str;
            // 	}
            // 	this.points.sort(function(a,b){
            // 		return b.y - a.y;
            // 	});
            // 	this.points.forEach(function(i){
            // 		var legend = i.series.legendGroup.element.cloneNode(true);
            // 		legend.lastChild.remove();
            // 		str+='<tr><td style="color:'+i.color+'"><svg style="width:24px;height:8px" viewBox="0 7 24 8">'+legend.innerHTML+'</svg>'+i.series.name+'</td><td style="text-align:right">'+i.y+'</td></tr>';
            // 	});
            // 	str+='</table>';
            // 	return str;
            // },
            shared: true,
            // crosshairs: true,
            // useHTML: true
        },
        series: [{
            name: '缓存次数',
            data: final_convert(id_data)
        }, {
            name: 'rating / 100',
            data: final_convert(rating_data)
        }, {
            name: 'rating_max / 100',
            data: final_convert(rating_max_data)
        }, {
            name: 'star',
            data: final_convert(star_data)
        }],
        credits: {
            enabled: false
        }
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-65GFJD0XP7"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-65GFJD0XP7');
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?52627b664e5a3d9647f8361d409caf63";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>