<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes"/>
    <script>
        var baseW = 768;
        var iOSW = 0;
        var ua = navigator.userAgent.toLowerCase();
        var isiOS = (ua.indexOf("iphone") > -1) || (ua.indexOf("ipod") > -1) || (ua.indexOf("ipad") > -1);
        if (isiOS) {
            iOSW = document.documentElement.clientWidth;
        }
        window.addEventListener("resize", updateMetaViewport, false);
        window.addEventListener("orientationchange", updateMetaViewport, false);
        var ev = document.createEvent("UIEvent");
        ev.initEvent("resize", true, true)
        window.dispatchEvent(ev);

        function updateMetaViewport() {
            var viewportContent;
            var w = window.outerWidth;
            if (isiOS) {
                w = iOSW;
            }
            if (w < baseW) {
                viewportContent = "width=480,initial-scale=" + w / 480 + ",user-scalable=yes,shrink-to-fit=no";
            } else {
                viewportContent = "width=device-width,initial-scale=1.0,user-scalable=yes,shrink-to-fit=no";
            }
            document.querySelector("meta[name='viewport']").setAttribute("content", viewportContent);
        }
    </script>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8; IE=EmulateIE9"/>
    {#    <meta http-equiv="Pragma" CONTENT="no-cache">#}
    {#    <meta http-equiv="Cache-Control" CONTENT="no-cache">#}
    {#    <meta http-equiv="Expires" CONTENT="-1">#}
    {#    <meta name="robots" content="INDEX, FOLLOW"/>#}
    {#    <meta name="author" content="(C) SEGA">#}
    {#    <meta name="copyright" content="&copy;SEGA">#}
    <meta name="description" content="微信存档 - 玩家数据">
    <meta name="keywords" content="maimai_DX 查分器,舞萌DX,maimai DX,yuangezhizao"/>
    <meta name="theme-color" content="#51bcf3">

    <title>微信存档 - 玩家数据</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/css/maimai-mobile/common.css') }}"/>
    <link rel="apple-touch-icon-precomposed" href="https://i1.yuangezhizao.cn/maimai-mobile/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://i1.yuangezhizao.cn/maimai-mobile/apple-touch-icon.png">
    <script src="https://cdn.jsdelivr.net/npm/highcharts/highcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/modules/exporting.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/modules/series-label.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/modules/oldie.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/themes/dark-unica.js"></script>
</head>
<body>
<div class="wrapper t_c">
    <div class="see_through_block m_10 p_5 t_l f_14">
        <div class="musiccount_counter_block f_13" style="text-align: center">微信存档</div>
    </div>
</div>
<div class="wrapper main_wrapper t_c">
    <header class="f_0">
        <div class="f_0">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 480 10"
                 preserveAspectRatio="none" style="height:10px">
                <path d="M0,10 v-5 q5,5 10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 v5 Z"
                      fill="#7ed3ff"></path>
            </svg>
            <div class="menu">
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?home' }}" class="d_ib col4 p_4"><img
                        src="https://i1.yuangezhizao.cn/maimai-mobile/img/menu_home.png" class="w_112"/></a>
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?playerData' }}"
                   class="d_ib col4 p_4"><img
                        src="https://i1.yuangezhizao.cn/maimai-mobile/img/menu_playerdata_on.png" class="w_112"/></a>
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?record' }}" class="d_ib col4 p_4"><img
                        src="https://i1.yuangezhizao.cn/maimai-mobile/img/menu_record.png" class="w_112"/></a>
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?ranking' }}" class="d_ib col4 p_4"><img
                        src="https://i1.yuangezhizao.cn/maimai-mobile/img/menu_ranking.png" class="w_112"/></a>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 480 10"
                 preserveAspectRatio="none" style="height:10px">
                <path d="M0,0 v5 q5,5 10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 v-5 Z"
                      fill="#7ed3ff"></path>
            </svg>
        </div>
    </header>

    <div class="m_t_5 m_b_10 t_l f_0">
        <a href="{{ url_for('main.wechat_archive', _external=True) + '?playerData' }}" class="p_r d_ib">
            <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/menu_sub_playerdata_playerdata.png?ver=1.00"
                 class="w_120"/>
            <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/icon_on.png" class="submenu_selected"/> </a>
        <a href="{{ url_for('main.wechat_archive', _external=True) + '?playerData_album' }}" class="p_r d_ib">
            <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/menu_sub_playerdata_album.png?ver=1.00"
                 class="w_120"/>
        </a>
        <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/menu_sub_playerdata.png" class="w_120"/>
        <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/menu_sub_playerdata.png" class="w_120"/>
    </div>

    <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/title_playerdata.png" class="title m_10"/>

    <div id="container"></div>
    <br>

    <div>
        {% for data in playerData %}
            <div class="see_through_block m_15 m_t_0 p_10 t_l f_0">
                {#                <div class="basic_block p_10 p_b_5 f_0">#}
                {#                    <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/Icon/d720d2b8e4988e84.png"#}
                {#                         class="w_112 f_l"/>#}
                {#                    <div class="p_l_10 f_l">#}
                {#                        <div class="trophy_block trophy_Silver p_3 t_c f_0">#}
                {#                            <div class="trophy_inner_block f_13">#}
                {#                                <span>M.A.I.</span>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div>#}
                {#                            <div class="name_block f_l f_14">ＹＧＺＺ</div>#}
                {#                            <div class="f_r t_r f_0">#}
                {#                                <div class="p_r p_3">#}
                {#                                    <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/rating_base_red.png"#}
                {#                                         class="h_30 f_r"/>#}
                {#                                    <div class="rating_block f_11">4829</div>#}
                {#                                </div>#}
                {#                                <div class="p_r_5 f_11">MAX：5077</div>#}
                {#                            </div>#}
                {#                            <div class="clearfix"></div>#}
                {#                        </div>#}
                {#                        <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/line_01.png"#}
                {#                             class="user_data_block_line"/>#}
                {#                        <div class="clearfix"></div>#}
                {#                        <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/grade_04u9HDshZA.png" class="h_25 f_l"/>#}
                {#                        <div class="p_l_10 f_l f_14"><img#}
                {#                                src="https://i1.yuangezhizao.cn/maimai-mobile/img/icon_star.png"#}
                {#                                class="h_20 v_b"/>×32#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="clearfix"></div>#}
                {#                </div>#}
                <div class="clearfix"></div>
                <div class="m_5 m_t_10 t_r f_12">
                    ID：{{ data.id }}，缓存时间：{{ data.cache_dt }}，游戏次数：{{ data.music_count }}</div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block p_5 f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_sssp.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.sssp }} / {{ data.total_count }}</div>
                </div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block t_c f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_app.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.app }} / {{ data.total_count }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block p_5 f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_sss.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.sss }} / {{ data.total_count }}</div>
                </div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block t_c f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_ap.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.ap }} / {{ data.total_count }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block p_5 f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_ssp.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.ssp }} / {{ data.total_count }}</div>
                </div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block t_c f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_fcp.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.fcp }} / {{ data.total_count }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block p_5 f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_ss.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.ss }} / {{ data.total_count }}</div>
                </div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block t_c f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_fc.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.fc }} / {{ data.total_count }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block p_5 f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_sp.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.sp }} / {{ data.total_count }}</div>
                </div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block t_c f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_fsdp.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.fsdp }} / {{ data.total_count }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block p_5 f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_s.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.s }} / {{ data.total_count }}</div>
                </div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block t_c f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_fsd.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.fsd }} / {{ data.total_count }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="musiccount_block t_r f_l f_0">
                    <div class="musiccount_img_block p_5 f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_clear.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.clear }} / {{ data.total_count }}</div>
                </div>
                <div class="musiccount_block t_r f_r f_0">
                    <div class="musiccount_img_block t_c f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_fsp.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.fsp }} / {{ data.total_count }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="musiccount_block t_r f_r f_0">
                    <div class="musiccount_img_block t_c f_l"><img
                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/music_icon_fs.png"/></div>
                    <div class="musiccount_counter_block f_13">{{ data.fs }} / {{ data.total_count }}</div>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>

    <footer class="f_0">
        <div class="footer_marquee">
            <div class="footer w_480">
                {#                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 480 50"#}
                {#                     preserveAspectRatio="none" style="height:50px">#}
                {#                    <path d="M0,0 v25 q5,5 10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 v-25 Z"#}
                {#                          fill="#7cbc29"></path>#}
                {#                </svg>#}
                {#                <div class="m_15 m_t_0 f_13">#}
                {#                    <div class="m_5"><a href="https://i1.yuangezhizao.cn/maimai-mobile/termsOfService/" target="_blank"#}
                {#                                        class="white" rel="noopener">使用条款</a></div>#}
                {#                    <div class="m_5"><a href="https://i1.yuangezhizao.cn/maimai-mobile/sitePolicy/" target="_blank"#}
                {#                                        class="white" rel="noopener">使用须知</a></div>#}
                {#                    <div class="m_5"><a href="https://sega-group.co.jp/english/privacypolicy/" target="_blank"#}
                {#                                        class="white" rel="noopener">私隐政策</a></div>#}
                {#                </div>#}
                {#                <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/line_02.png" class="w_430 m_b_10"/>#}
                {#                <div class="f_l m_15 m_l_30 p_l_10">#}
                {#                    <a href="http://sega.jp" target="_blank" rel="noopener"><img#}
                {#                            src="https://i1.yuangezhizao.cn/maimai-mobile/img/logo_sega.png"/></a>#}
                {#                    <div class="f_15 p_5">© SEGA</div>#}
                {#                </div>#}
                {#                <div class="m_15">#}
                {#                    <img src="https://i1.yuangezhizao.cn/maimai-mobile/img/logo_wahlap.png"/></a>#}
                {#                    <div class="f_11 p_3"><a href="http://www.miitbeian.gov.cn"#}
                {#                                             style="text-decoration:none; color: #fff" target="_blank" rel="noopener">粤ICP备05005783号</a>#}
                {#                </div>#}
                <div class="p_10">
                    <div class="f_12 l_h_12">© SEGA & WAHLAP</div>
                    <div class="f_12 l_h_12">Modified for personal use，yuangezhizao © 2020 - 2021</div>
                    <div class="f_12 l_h_12"></div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://i1.yuangezhizao.cn/maimai-mobile/js/jquery.marquee.js"></script>
{#<script>#}
{#    $(function () {#}
{#        // 許容幅#}
{#        var widthMax = 258;#}
{#        $('.trophy_inner_block').each(function () {#}
{#            var span = $(this).children('span');#}
{#            var textWidth = span.innerWidth();#}
{#            if (textWidth > widthMax) {#}
{#                $(span).marquee();#}
{#            }#}
{#        });#}
{#    });#}
{#</script>#}
<script>
    var id_data = {{ id_data | safe }};
    var music_count_data = {{ music_count_data | safe }};
    var total_count_data = {{ total_count_data | safe }};

    var sssp_data = {{ sssp_data | safe }};
    var sss_data = {{ sss_data | safe }};
    var ssp_data = {{ ssp_data | safe }};
    var ss_data = {{ ss_data | safe }};
    var sp_data = {{ sp_data | safe }};
    var s_data = {{ s_data | safe }};
    var clear_data = {{ clear_data | safe }};

    var app_data = {{ app_data | safe }};
    var ap_data = {{ ap_data | safe }};
    var fcp_data = {{ fcp_data | safe }};
    var fc_data = {{ fc_data | safe }};
    var fsdp_data = {{ fsdp_data | safe }};
    var fsd_data = {{ fsd_data | safe }};
    var fsp_data = {{ fsp_data | safe }};
    var fs_data = {{ fs_data | safe }};

    var cache_dt_data = {{ cache_dt_data | safe }};

    function convert_date_from_string(datetime) {
        var split_date = datetime.split(" ")[0].split('-');
        var date = new Date(split_date[0], split_date[1] - 1, split_date[2]);
        return date.getTime();
    }

    function final_convert(music_count_data) {
        var music_count_data_new = [];
        for (var i = 0; i < cache_dt_data.length; i++) {
            music_count_data_new.push([
                convert_date_from_string(cache_dt_data[i]),
                music_count_data[i]
            ]);
        }
        return music_count_data_new;
    }

    var chart = Highcharts.chart('container', {
        global: {
            useUTC: true
        },
        chart: {
            zoomType: "x",
            //backgroundColor: 'rgba(255, 255, 255, 0.6)',
        },
        title: {
            text: ''
        },
        // subtitle: {
        // 		text: 'Added by yuangezhizao © 2020~2021'
        // },
        xAxis: {
            labels: {
                formatter: function () {
                    return Highcharts.dateFormat('%y/%m/%d', this.value);
                }
            },
            type: 'datetime',
            title: {
                text: '缓存时间'
            }
        },
        yAxis: {
            title: {
                text: 'Num.Count()'
            }
        },
        tooltip: {
            // formatter:function(){
            // 	var time=new Date(this.x),str='<span style="font-size:16px">',check=function(a){return (a<10?'0':'')+a};
            // 	str+=time.getFullYear()+'/'+check(time.getMonth()+1)+'/'+check(time.getDate())+'</span><br><table>';
            // 	if(!this.points){
            // 		str=check(time.getMonth()+1)+'/'+check(time.getDate())+'<br><table>';
            // 		str+='<tr><td style="color:'+this.color+'">'+this.point.name+'</td><td style="text-align:right">'+this.y+'</td></tr>';
            // 		str+='</table>';
            // 		return str;
            // 	}
            // 	this.points.sort(function(a,b){
            // 		return b.y - a.y;
            // 	});
            // 	this.points.forEach(function(i){
            // 		var legend = i.series.legendGroup.element.cloneNode(true);
            // 		legend.lastChild.remove();
            // 		str+='<tr><td style="color:'+i.color+'"><svg style="width:24px;height:8px" viewBox="0 7 24 8">'+legend.innerHTML+'</svg>'+i.series.name+'</td><td style="text-align:right">'+i.y+'</td></tr>';
            // 	});
            // 	str+='</table>';
            // 	return str;
            // },
            shared: true,
            // crosshairs: true,
            // useHTML: true
        },
        series: [{
            name: '缓存次数',
            data: final_convert(id_data)
        }, {
            name: '游戏次数',
            data: final_convert(music_count_data)
        }, {
            name: '铺面数量',
            data: final_convert(total_count_data)
        }, {
            name: 'sssp',
            data: final_convert(sssp_data)
        }, {
            name: 'sss',
            data: final_convert(sss_data)
        }, {
            name: 'ssp',
            data: final_convert(ssp_data)
        }, {
            name: 'ss',
            data: final_convert(ss_data)
        }, {
            name: 'sp',
            data: final_convert(sp_data)
        }, {
            name: 's',
            data: final_convert(s_data)
        }, {
            name: 'clear',
            data: final_convert(clear_data)
        }, {
            name: 'app',
            data: final_convert(app_data)
        }, {
            name: 'ap',
            data: final_convert(ap_data)
        }, {
            name: 'fcp',
            data: final_convert(fcp_data)
        }, {
            name: 'fc',
            data: final_convert(fc_data)
        }, {
            name: 'fsdp',
            data: final_convert(fsdp_data)
        }, {
            name: 'fsd',
            data: final_convert(fsd_data)
        }, {
            name: 'fsp',
            data: final_convert(fsp_data)
        }, {
            name: 'fs',
            data: final_convert(fs_data)
        }],
        credits: {
            enabled: false
        }
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-65GFJD0XP7"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-65GFJD0XP7');
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?52627b664e5a3d9647f8361d409caf63";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>