<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes"/>
    <script>
        var baseW = 768;
        var iOSW = 0;
        var ua = navigator.userAgent.toLowerCase();
        var isiOS = (ua.indexOf("iphone") > -1) || (ua.indexOf("ipod") > -1) || (ua.indexOf("ipad") > -1);
        if (isiOS) {
            iOSW = document.documentElement.clientWidth;
        }
        window.addEventListener("resize", updateMetaViewport, false);
        window.addEventListener("orientationchange", updateMetaViewport, false);
        var ev = document.createEvent("UIEvent");
        ev.initEvent("resize", true, true)
        window.dispatchEvent(ev);

        function updateMetaViewport() {
            var viewportContent;
            var w = window.outerWidth;
            if (isiOS) {
                w = iOSW;
            }
            if (w < baseW) {
                viewportContent = "width=480,initial-scale=" + w / 480 + ",user-scalable=yes,shrink-to-fit=no";
            } else {
                viewportContent = "width=device-width,initial-scale=1.0,user-scalable=yes,shrink-to-fit=no";
            }
            document.querySelector("meta[name='viewport']").setAttribute("content", viewportContent);
        }
    </script>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8; IE=EmulateIE9"/>
    {#    <meta http-equiv="Pragma" CONTENT="no-cache">#}
    {#    <meta http-equiv="Cache-Control" CONTENT="no-cache">#}
    {#    <meta http-equiv="Expires" CONTENT="-1">#}
    {#    <meta name="robots" content="INDEX, FOLLOW"/>#}
    {#    <meta name="author" content="(C) SEGA">#}
    {#    <meta name="copyright" content="&copy;SEGA">#}
    <meta name="description" content="微信存档 - 详细">
    <meta name="keywords" content="maimai_DX 查分器,舞萌DX,maimai DX,yuangezhizao"/>
    <meta name="theme-color" content="#51bcf3">

    <title>微信存档 - 详细</title>
    <link rel="stylesheet" href="https://lab.yuangezhizao.cn/maimai-mobile/css/common.css?ver=1.00"/>
    <link rel="apple-touch-icon-precomposed" href="https://lab.yuangezhizao.cn/maimai-mobile/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://lab.yuangezhizao.cn/maimai-mobile/apple-touch-icon.png">
    <script src="https://cdn.jsdelivr.net/npm/highcharts/highcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/modules/exporting.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/modules/series-label.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/modules/oldie.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highcharts/themes/dark-unica.js"></script>
</head>
<body>
<div class="wrapper t_c">
    <div class="see_through_block m_10 p_5 t_l f_14">
        <div class="musiccount_counter_block f_13" style="text-align: center">maimai_DX 查分器</div>
    </div>
</div>
<div class="wrapper main_wrapper t_c">
    <header class="f_0">
        <div class="f_0">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 480 10"
                 preserveAspectRatio="none" style="height:10px">
                <path d="M0,10 v-5 q5,5 10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 v5 Z"
                      fill="#7ed3ff"></path>
            </svg>
            <div class="menu">
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?home' }}" class="d_ib col4 p_4"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_home.png" class="w_112"/></a>
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?playerData' }}"
                   class="d_ib col4 p_4"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_playerdata.png" class="w_112"/></a>
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?record' }}" class="d_ib col4 p_4"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_record_on.png" class="w_112"/></a>
                <a href="{{ url_for('main.wechat_archive', _external=True) + '?ranking' }}" class="d_ib col4 p_4"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_ranking.png" class="w_112"/></a>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 480 10"
                 preserveAspectRatio="none" style="height:10px">
                <path d="M0,0 v5 q5,5 10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 v-5 Z"
                      fill="#7ed3ff"></path>
            </svg>
        </div>
    </header>

    <div class="m_t_5 m_b_10 t_l f_0">
        <a href="{{ url_for('main.wechat_archive', _external=True) + '?record' }}" class="p_r d_ib">
            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_sub_record_playlog.png?ver=1.00"
                 class="w_120"/>
            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_on.png" class="submenu_selected"/> </a>
        <a href="{{ url_for('main.wechat_archive', _external=True) + '?record_musicGenre' }}" class="p_r d_ib">
            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_sub_record_music.png?ver=1.00" class="w_120"/>
        </a>
        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_sub_record.png" class="w_120"/>
        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/menu_sub_record.png" class="w_120"/>
    </div>

    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/title_playlog.png" class="title m_10"/>

    <div class="p_10 t_l f_0 v_b">
        <div class="playlog_top_container">
            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{ record_data.level_img_s }}.png"
                 class="playlog_diff v_b">
            {% if record_data.vs_img_s %}
                <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/vs.png" class="playlog_vs v_b">
                <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_data.vs_img_s }}.png"
                     class="playlog_vs_result v_b">
            {% endif %}
            <div class="sub_title t_c f_r f_11">
                <span class="red f_b v_b">TRACK 0{{ record_data.track }}</span>　<span
                    class="v_b">{{ record_data.play_dt }}</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="playlog_{{ record_data.level_img_s | my_split('_', 1) }}_container">
            <div class="basic_block m_5 p_5 p_l_10 f_13 break">
                {% if record_data.clear %}
                    <img
                            src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/clear.png"
                            class="w_80 f_r">
                {% endif %}
                ID：{{ record_data.id }} ★ {{ record_data.name }}
            </div>
            <div class="p_r f_0">
                <img src="{{ record_data.img_s | replace("maimai.wahlap.com", "lab.yuangezhizao.cn") }}"
                     class="music_img m_5 m_r_0 f_l">
                <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{ record_data.dx_img_s }}.png"
                     class="playlog_music_kind_icon">
                <div class="playlog_result_block m_t_5 f_l">
                    <div class="playlog_achievement_label_block">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/achievement.png">
                    </div>
                    {% if record_data.score_rank_new %}
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/newrecord.png"
                             class="playlog_achievement_newrecord">
                    {% endif %}
                    <div class="playlog_achievement_txt t_r">{{ record_data.achievement | int }}<span
                            class="f_20">.{{ record_data.achievement | my_split('.', 1) }}%</span></div>
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_data.score_rank_img_s }}.png"
                         class="playlog_scorerank">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_02.png"
                         class="playlog_scoreline f_r">
                    <div class="playlog_result_innerblock basic_block p_5 f_13">
                        <div class="playlog_score_block f_0">
                            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/deluxscore.png"
                                 class="w_80">
                            {% if record_data.delux_new %}
                                <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/newrecord.png"
                                     class="playlog_deluxscore_newrecord">
                            {% endif %}
                            <div class="white p_r_5 f_15 f_r">{{ record_data.delux_score }}</div>
                        </div>

                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_data.fc_img_s }}.png"
                             class="h_35 m_5 f_l">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_data.fs_img_s }}.png"
                             class="h_35 m_5 f_l">
                        {% if record_data.rate_img_s %}
                            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_data.rate_img_s }}.png"
                                 class="h_35 m_5 f_r"/>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    {% if record_playlogDetail.vs_rank %}
        <div class="see_through_block m_10 m_t_0  p_l_10 t_l f_0 break" id="vsUser">
		<span class="m_t_5 d_ib">
			<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/vs.png" class="f_l"/>
			<div class="p_l_5 p_r_5 f_l f_14 l_h_10">{{ record_playlogDetail.vs_rank }}<br><span
                    class="f_r f_11">{{ record_playlogDetail.vs_achievement }}%</span></div>
			<div class="basic_block w_120 f_l p_5 t_r f_0">
				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/deluxrating.png" class="h_20 f_l"/><span
                    class="f_14">{{ record_playlogDetail.vs_rating }}</span>
			</div>
			<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{ record_playlogDetail.vs_grade }}.png"
                 class="h_25 m_3"/>

		</span>
            <div class="p_5 f_r d_ib f_0" id="vsUserCtrl">
                <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/btn_off.png" class="h_30"/>
            </div>
            <div class="clearfix"></div>
        </div>
    {% endif %}

    <div class="gray_block m_10 m_t_0 p_b_5 f_0">
        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/character.png" class="m_t_5 f_l"/>
        <div class="clearfix"></div>
        <div class="playlog_chara_container">
            <div class="playlog_chara_block">
                <div class="chara_cycle_trim">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/Chara/{{ record_playlogDetail.chara_0_img_s }}.png"
                         class="chara_cycle_img"/>
                </div>
            </div>
            <div class="playlog_chara_star_block f_12"><img
                    src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                    class="v_b"/>×{{ record_playlogDetail.chara_0_star }}
            </div>
            <div class="playlog_chara_lv_block f_13">Lv{{ record_playlogDetail.chara_0_lv }}</div>
        </div>
        <div class="playlog_chara_container">
            <div class="playlog_chara_block">
                <div class="chara_cycle_trim">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/Chara/{{ record_playlogDetail.chara_1_img_s }}.png"
                         class="chara_cycle_img"/>
                </div>
            </div>
            <div class="playlog_chara_star_block f_12"><img
                    src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                    class="v_b"/>×{{ record_playlogDetail.chara_1_star }}
            </div>
            <div class="playlog_chara_lv_block f_13">Lv{{ record_playlogDetail.chara_1_lv }}</div>
        </div>
        <div class="playlog_chara_container">
            <div class="playlog_chara_block">
                <div class="chara_cycle_trim">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/Chara/{{ record_playlogDetail.chara_2_img_s }}.png"
                         class="chara_cycle_img"/>
                </div>
            </div>
            <div class="playlog_chara_star_block f_12"><img
                    src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                    class="v_b"/>×{{ record_playlogDetail.chara_2_star }}
            </div>
            <div class="playlog_chara_lv_block f_13">Lv{{ record_playlogDetail.chara_2_lv }}</div>
        </div>
        <div class="playlog_chara_container">
            <div class="playlog_chara_block">
                <div class="chara_cycle_trim">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/Chara/{{ record_playlogDetail.chara_3_img_s }}.png"
                         class="chara_cycle_img"/>
                </div>
            </div>
            <div class="playlog_chara_star_block f_12"><img
                    src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                    class="v_b"/>×{{ record_playlogDetail.chara_3_star }}
            </div>
            <div class="playlog_chara_lv_block f_13">Lv{{ record_playlogDetail.chara_3_lv }}</div>
        </div>
        <div class="playlog_chara_container">
            <div class="playlog_chara_block">
                <div class="chara_cycle_trim">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/Chara/{{ record_playlogDetail.chara_4_img_s }}.png"
                         class="chara_cycle_img"/>
                </div>
            </div>
            <div class="playlog_chara_star_block f_12"><img
                    src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                    class="v_b"/>×{{ record_playlogDetail.chara_4_star }}
            </div>
            <div class="playlog_chara_lv_block f_13">Lv{{ record_playlogDetail.chara_4_lv }}</div>
        </div>
        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_01.png" class="w_450 m_b_5"/>
        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/detail.png" class="f_l"/>
        <div class="playlog_fl_block m_b_5 f_r f_12">
            <div class="w_96 f_l t_r"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/fast.png"
                                           class="h_10 m_3 m_l_10 f_l"/>
                <div class="p_t_5">{{ record_playlogDetail.fast }}</div>
            </div>
            <div class="w_96 f_l t_r"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/late.png"
                                           class="h_10 m_3 m_l_10 f_l"/>
                <div class="p_t_5">{{ record_playlogDetail.late }}</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="p_5">
            <table class="playlog_notes_detail t_r f_l f_11 f_b">
                <tr>
                    <th></th>
                    <td class="t_c f_0"><img
                            src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/criticalperfect.png"/></td>
                    <td class="t_c f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/perfect.png"/>
                    </td>
                    <td class="t_c f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/great.png"/>
                    </td>
                    <td class="t_c f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/good.png"/></td>
                    <td class="t_c f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/miss.png"/></td>
                </tr>
                <tr>
                    <th class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/tap.png"/></th>
                    <td>{{ record_playlogDetail.notes_tap_cp if record_playlogDetail.notes_tap_cp != None }}</td>
                    <td>{{ record_playlogDetail.notes_tap_p if record_playlogDetail.notes_tap_p != None }}</td>
                    <td>{{ record_playlogDetail.notes_tap_great if record_playlogDetail.notes_tap_great != None }}</td>
                    <td>{{ record_playlogDetail.notes_tap_good if record_playlogDetail.notes_tap_good != None }}</td>
                    <td>{{ record_playlogDetail.notes_tap_miss if record_playlogDetail.notes_tap_miss != None }}</td>
                </tr>
                <tr>
                    <th class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/hold.png"/></th>
                    <td>{{ record_playlogDetail.notes_hold_cp if record_playlogDetail.notes_hold_cp != None }}</td>
                    <td>{{ record_playlogDetail.notes_hold_p if record_playlogDetail.notes_hold_p != None }}</td>
                    <td>{{ record_playlogDetail.notes_hold_great if record_playlogDetail.notes_hold_great != None }}</td>
                    <td>{{ record_playlogDetail.notes_hold_good if record_playlogDetail.notes_hold_good != None }}</td>
                    <td>{{ record_playlogDetail.notes_hold_miss if record_playlogDetail.notes_hold_miss != None }}</td>
                </tr>
                <tr>
                    <th class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/slide.png"/></th>
                    <td>{{ record_playlogDetail.notes_slide_cp if record_playlogDetail.notes_slide_cp != None }}</td>
                    <td>{{ record_playlogDetail.notes_slide_p if record_playlogDetail.notes_slide_p != None }}</td>
                    <td>{{ record_playlogDetail.notes_slide_great if record_playlogDetail.notes_slide_great != None }}</td>
                    <td>{{ record_playlogDetail.notes_slide_good if record_playlogDetail.notes_slide_good != None }}</td>
                    <td>{{ record_playlogDetail.notes_slide_miss if record_playlogDetail.notes_slide_miss != None }}</td>
                </tr>
                <tr>
                    <th class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/touch.png"/></th>
                    <td>{{ record_playlogDetail.notes_touch_cp if record_playlogDetail.notes_touch_cp != None }}</td>
                    <td>{{ record_playlogDetail.notes_touch_p if record_playlogDetail.notes_touch_p != None }}</td>
                    <td>{{ record_playlogDetail.notes_touch_great if record_playlogDetail.notes_touch_great != None }}</td>
                    <td>{{ record_playlogDetail.notes_touch_good if record_playlogDetail.notes_touch_good != None }}</td>
                    <td>{{ record_playlogDetail.notes_touch_miss if record_playlogDetail.notes_touch_miss != None }}</td>
                </tr>
                <tr>
                    <th class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/break.png"/></th>
                    <td>{{ record_playlogDetail.notes_break_cp if record_playlogDetail.notes_break_cp != None }}</td>
                    <td>{{ record_playlogDetail.notes_break_p if record_playlogDetail.notes_break_p != None }}</td>
                    <td>{{ record_playlogDetail.notes_break_great if record_playlogDetail.notes_break_great != None }}</td>
                    <td>{{ record_playlogDetail.notes_break_good if record_playlogDetail.notes_break_good != None }}</td>
                    <td>{{ record_playlogDetail.notes_break_miss if record_playlogDetail.notes_break_miss != None }}</td>
                </tr>
            </table>
            <div class="playlog_rating_detail_block f_r t_l">
                <table class="playlog_grade_block m_t_5 f_0">
                    <tr>
                        <td class="v_t"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/grade.png"
                                             class="h_14"/></td>
                        <td class="t_r f_12">
                            <div class="playlog_rating_val_block">{{ record_playlogDetail.grade }}</div>
                            <span class="f_11">{{ record_playlogDetail.grade_diff }}</span></td>
                    </tr>
                    <tr>
                        <td class="v_t"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/rating.png"
                                             class="h_12"/></td>
                        <td class="t_r f_12">
                            <div class="playlog_rating_val_block">{{ record_playlogDetail.rating }}</div>
                        </td>
                    </tr>
                </table>
                <div class="basic_block m_t_5 p_3 t_r f_0">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/deluxrating.png"
                         class="h_20 f_l"/><span class="f_14">{{ record_playlogDetail.delux_rating }}</span>
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_playlogDetail.delux_rating_diff }}.png"
                         class="h_20 f_r"/>
                </div>
                <div class="t_r f_0">
                    {% if record_playlogDetail.grade_pic_s == 'grade_rankup' %}
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_playlogDetail.grade_pic_s }}.png"
                             class="h_25 m_b_5"/>
                        {#                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{  }}.png"#}
                        {#                             class="h_25 m_t_10 m_b_5"/>#}
                    {% else %}
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{ record_playlogDetail.grade_pic_s }}.png"
                             class="h_25 m_t_10 m_b_5"/>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix m_b_5"></div>
            <div class="col2 f_l t_l f_0">
                <div class="playlog_score_block p_5">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/maxcombo.png" class="h_20"/>
                    <div class="f_r f_14 white">{{ record_playlogDetail.maxcombo }}</div>
                </div>
            </div>
            <div class="col2 p_l_5 f_l t_l f_0">
                <div class="playlog_score_block p_5">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/maxsync.png" class="h_20"/>
                    <div class=" f_r f_14 white">{{ record_playlogDetail.maxsync }}</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    {% if record_playlogDetail.name %}
        <div class="see_through_block m_10 p_5 t_l f_14" id="matching">
												<span class="playlog_{{ record_playlogDetail.level_img_s | my_split('_', 1) }}_container w_120 p_3 d_ib f_0">
				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{ record_playlogDetail.level_img_s }}.png"
                     class="h_16"/>
				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_each.png" class="h_14 f_r"/>
				<div class="basic_block p_3 t_c f_11">{{ record_playlogDetail.name }}</div>
			</span>
            <span class="gray_block w_120 p_3 d_ib f_0 ">
				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_each.png" class="h_16 f_r"/>
				<div class="clearfix"></div>
				<div class="basic_block p_3 t_c f_11">―</div>
			</span>
            <span class="gray_block w_120 p_3 d_ib f_0 ">
				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_each.png" class="h_16 f_r"/>
				<div class="clearfix"></div>
				<div class="basic_block p_3 t_c f_11">―</div>
			</span>
            <div class="f_r p_t_10 d_ib f_0" id="matchingCtrl">
                <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/btn_off.png" class="h_30 m_t_5 m_b_5"/>
            </div>
            <div class="clearfix"></div>
        </div>
    {% endif %}

    <div class="p_5 t_r">
        <div class="basic_block p_3 t_c f_11">
            {% if all_levels | int == 1 %}
                <a class="black"
                   href="{{ url_for('main.wechat_archive') }}?record_playlogDetail&idx={{ record_data.id }}&all_levels=0">查看当前等级</a>
            {% else %}
                <a class="black"
                   href="{{ url_for('main.wechat_archive') }}?record_playlogDetail&idx={{ record_data.id }}&all_levels=1">查看全部等级</a>
            {% endif %}
        </div>
        <br>
        {% if record_data.id > 1 %}
            <span class="pointer w_96 m_r_5 p_5 t_c f_12 f_b white">上一曲：{{ record_data.id - 1 }}</span>
            <form action="{{ url_for('main.wechat_archive', _external=True) }}" method="get" accept-charset="utf-8"
                  class="h_40 d_ib v_t">
                <input type="hidden" name="record_playlogDetail" value="">
                <input type="hidden" name="idx" value="{{ record_data.id - 1 }}">
                <input type="hidden" name="all_levels" value="{{ all_levels }}">
                <button type="submit"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/rating_up.png"
                                           class="h_40 pointer"></button>
            </form>
        {% else %}
            <span class="pointer w_96 m_r_5 p_5 t_c f_12 f_b white">上一曲不可用</span>
            <button type="submit"><img
                    src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/rating_down.png"
                    class="h_40 pointer" style="cursor:not-allowed "></button>
        {% endif %}

        <span class="pointer w_96 m_r_5 p_5 t_c f_12 f_b white">下一曲：{{ record_data.id + 1 }}</span>
        <form action="{{ url_for('main.wechat_archive', _external=True) }}" method="get" accept-charset="utf-8"
              class="h_40 d_ib v_t">
            <input type="hidden" name="record_playlogDetail" value="">
            <input type="hidden" name="idx" value="{{ record_data.id + 1 }}">
            <input type="hidden" name="all_levels" value="{{ all_levels }}">
            <button type="submit"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/rating_down.png"
                                       class="h_40 pointer"></button>
        </form>

        <form action="https://lab.yuangezhizao.cn/maimai-mobile/record/musicDetail/" method="get" accept-charset="utf-8"
              class="h_40 d_ib v_t">
            <input type="hidden" name="idx"
                   value="68eabff9a05187bd3edf5ed0e20795dac3dfcb141ad92f94d3e4ab1fc8895d7c9ba61886f0b8b89cc5a5ba264e0ae04dd1783e66de0a03e8e76d0e4e7447f6b3SJV5Sjjszz2lxyvRTwFRG81dtMipe8yqkiypT4nB6EM=">
            <button disabled type="submit"><img
                    src="https://lab.yuangezhizao.cn/maimai-mobile/img/btn_myrecord.png"
                    class="h_40 pointer"></button>
        </form>
        <form action="https://lab.yuangezhizao.cn/maimai-mobile/ranking/musicRankingDetail/" method="get"
              accept-charset="utf-8" class="d_ib v_t">
            <input type="hidden" name="diff" value="3"/>
            <input type="hidden" name="idx"
                   value="68eabff9a05187bd3edf5ed0e20795dac3dfcb141ad92f94d3e4ab1fc8895d7c9ba61886f0b8b89cc5a5ba264e0ae04dd1783e66de0a03e8e76d0e4e7447f6b3SJV5Sjjszz2lxyvRTwFRG81dtMipe8yqkiypT4nB6EM="/>
            <button disabled type="submit"
                    class="music_{{ record_data.level_img_s | my_split('_', 1) }}_btn pointer w_96 m_r_5 p_5 t_c f_12 f_b white">
                排行榜
            </button>
        </form>
    </div>

    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_02.png" class="w_450"/>
    <div class="t_c">
        <button type="button" onclick="JavaScript:history.back();" class="f_0"><img
                src="https://lab.yuangezhizao.cn/maimai-mobile/img/btn_back.png" class="w_80 m_t_10"/></button>
    </div>

    <div class="basic_block p_3 t_c f_11">★ 单曲游戏次数：{{ count }} ★</div>
    <br>

    <div id="container"></div>
    <br>

    {% for record_data_history in record_data_history_all %}
        <div class="p_10 t_l f_0 v_b">
            <div class="playlog_top_container">
                <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{ record_data_history.level_img_s }}.png"
                     class="playlog_diff v_b">
                {% if record_data_history.vs_img_s %}
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/vs.png" class="playlog_vs v_b">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_data_history.vs_img_s }}.png"
                         class="playlog_vs_result v_b">
                {% endif %}
                <div class="sub_title t_c f_r f_11">
                    <span class="red f_b v_b">TRACK 0{{ record_data_history.track }}</span>　<span
                        class="v_b">{{ record_data_history.play_dt }}</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="playlog_{{ record_data_history.level_img_s | my_split('_', 1) }}_container">
                <div class="basic_block m_5 p_5 p_l_10 f_13 break">
                    {% if record_data.clear %}
                        <img
                                src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/clear.png"
                                class="w_80 f_r">
                    {% endif %}
                    ID：{{ record_data_history.id }} ★ {{ record_data_history.name }}
                </div>
                <div class="p_r f_0">
                    <img src="{{ record_data.img_s | replace("maimai.wahlap.com", "lab.yuangezhizao.cn") }}"
                         class="music_img m_5 m_r_0 f_l">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{ record_data_history.dx_img_s }}.png"
                         class="playlog_music_kind_icon">
                    <div class="playlog_result_block m_t_5 f_l">
                        <div class="playlog_achievement_label_block">
                            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/achievement.png">
                        </div>
                        {% if record_data_history.score_rank_new %}
                            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/newrecord.png"
                                 class="playlog_achievement_newrecord">
                        {% endif %}
                        <div class="playlog_achievement_txt t_r">{{ record_data_history.achievement | int }}<span
                                class="f_20">.{{ record_data_history.achievement | my_split('.', 1) }}%</span></div>
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_data_history.score_rank_img_s }}.png"
                             class="playlog_scorerank">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_02.png"
                             class="playlog_scoreline f_r">
                        <div class="playlog_result_innerblock basic_block p_5 f_13">
                            <div class="playlog_score_block f_0">
                                <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/deluxscore.png"
                                     class="w_80">
                                {% if record_data_history.delux_new %}
                                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/newrecord.png"
                                         class="playlog_deluxscore_newrecord">
                                {% endif %}
                                <div class="white p_r_5 f_15 f_r">{{ record_data_history.delux_score }}</div>
                            </div>

                            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_data_history.fc_img_s }}.png"
                                 class="h_35 m_5 f_l">
                            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_data_history.fs_img_s }}.png"
                                 class="h_35 m_5 f_l">
                            {% if record_data_history.rate_img_s %}
                                <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_data_history.rate_img_s }}.png"
                                     class="h_35 m_5 f_r"/>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endfor %}

    <br>
    <div class="basic_block p_3 t_c f_11">★</div>
    <br>

    {% for record_playlogDetail_history in record_playlogDetail_history_all %}
        {% if record_playlogDetail_history.vs_rank %}
            <div class="see_through_block m_10 m_t_0  p_l_10 t_l f_0 break" id="vsUser">
		<span class="m_t_5 d_ib">
			<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/vs.png" class="f_l"/>
			<div class="p_l_5 p_r_5 f_l f_14 l_h_10">{{ record_playlogDetail_history.vs_rank }}<br><span
                    class="f_r f_11">{{ record_playlogDetail_history.vs_achievement }}%</span></div>
			<div class="basic_block w_120 f_l p_5 t_r f_0">
				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/deluxrating.png" class="h_20 f_l"/><span
                    class="f_14">{{ record_playlogDetail_history.vs_rating }}</span>
			</div>
			<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{ record_playlogDetail_history.vs_grade }}.png"
                 class="h_25 m_3"/>

		</span>
                <div class="p_5 f_r d_ib f_0" id="vsUserCtrl">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/btn_off.png" class="h_30"/>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endif %}

        <div class="gray_block m_10 m_t_0 p_b_5 f_0">
            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/character.png" class="m_t_5 f_l"/>
            <div class="clearfix"></div>
            <div class="playlog_chara_container">
                <div class="playlog_chara_block">
                    <div class="chara_cycle_trim">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/Chara/{{ record_playlogDetail_history.chara_0_img_s }}.png"
                             class="chara_cycle_img"/>
                    </div>
                </div>
                <div class="playlog_chara_star_block f_12"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                        class="v_b"/>×{{ record_playlogDetail_history.chara_0_star }}
                </div>
                <div class="playlog_chara_lv_block f_13">Lv{{ record_playlogDetail_history.chara_0_lv }}</div>
            </div>
            <div class="playlog_chara_container">
                <div class="playlog_chara_block">
                    <div class="chara_cycle_trim">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/Chara/{{ record_playlogDetail_history.chara_1_img_s }}.png"
                             class="chara_cycle_img"/>
                    </div>
                </div>
                <div class="playlog_chara_star_block f_12"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                        class="v_b"/>×{{ record_playlogDetail_history.chara_1_star }}
                </div>
                <div class="playlog_chara_lv_block f_13">Lv{{ record_playlogDetail_history.chara_1_lv }}</div>
            </div>
            <div class="playlog_chara_container">
                <div class="playlog_chara_block">
                    <div class="chara_cycle_trim">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/Chara/{{ record_playlogDetail_history.chara_2_img_s }}.png"
                             class="chara_cycle_img"/>
                    </div>
                </div>
                <div class="playlog_chara_star_block f_12"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                        class="v_b"/>×{{ record_playlogDetail_history.chara_2_star }}
                </div>
                <div class="playlog_chara_lv_block f_13">Lv{{ record_playlogDetail_history.chara_2_lv }}</div>
            </div>
            <div class="playlog_chara_container">
                <div class="playlog_chara_block">
                    <div class="chara_cycle_trim">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/Chara/{{ record_playlogDetail_history.chara_3_img_s }}.png"
                             class="chara_cycle_img"/>
                    </div>
                </div>
                <div class="playlog_chara_star_block f_12"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                        class="v_b"/>×{{ record_playlogDetail_history.chara_3_star }}
                </div>
                <div class="playlog_chara_lv_block f_13">Lv{{ record_playlogDetail_history.chara_3_lv }}</div>
            </div>
            <div class="playlog_chara_container">
                <div class="playlog_chara_block">
                    <div class="chara_cycle_trim">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/Chara/{{ record_playlogDetail_history.chara_4_img_s }}.png"
                             class="chara_cycle_img"/>
                    </div>
                </div>
                <div class="playlog_chara_star_block f_12"><img
                        src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_star.png"
                        class="v_b"/>×{{ record_playlogDetail_history.chara_4_star }}
                </div>
                <div class="playlog_chara_lv_block f_13">Lv{{ record_playlogDetail_history.chara_4_lv }}</div>
            </div>
            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_01.png" class="w_450 m_b_5"/>
            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/detail.png" class="f_l"/>
            <div class="playlog_fl_block m_b_5 f_r f_12">
                <div class="w_96 f_l t_r"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/fast.png"
                                               class="h_10 m_3 m_l_10 f_l"/>
                    <div class="p_t_5">{{ record_playlogDetail_history.fast }}</div>
                </div>
                <div class="w_96 f_l t_r"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/late.png"
                                               class="h_10 m_3 m_l_10 f_l"/>
                    <div class="p_t_5">{{ record_playlogDetail_history.late }}</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="p_5">
                <table class="playlog_notes_detail t_r f_l f_11 f_b">
                    <tr>
                        <th></th>
                        <td class="t_c f_0"><img
                                src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/criticalperfect.png"/></td>
                        <td class="t_c f_0"><img
                                src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/perfect.png"/>
                        </td>
                        <td class="t_c f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/great.png"/>
                        </td>
                        <td class="t_c f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/good.png"/>
                        </td>
                        <td class="t_c f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/miss.png"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/tap.png"/></th>
                        <td>{{ record_playlogDetail_history.notes_tap_cp if record_playlogDetail_history.notes_tap_cp != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_tap_p if record_playlogDetail_history.notes_tap_p != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_tap_great if record_playlogDetail_history.notes_tap_great != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_tap_good if record_playlogDetail_history.notes_tap_good != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_tap_miss if record_playlogDetail_history.notes_tap_miss != None }}</td>
                    </tr>
                    <tr>
                        <th class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/hold.png"/></th>
                        <td>{{ record_playlogDetail_history.notes_hold_cp if record_playlogDetail_history.notes_hold_cp != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_hold_p if record_playlogDetail_history.notes_hold_p != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_hold_great if record_playlogDetail_history.notes_hold_great != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_hold_good if record_playlogDetail_history.notes_hold_good != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_hold_miss if record_playlogDetail_history.notes_hold_miss != None }}</td>
                    </tr>
                    <tr>
                        <th class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/slide.png"/>
                        </th>
                        <td>{{ record_playlogDetail_history.notes_slide_cp if record_playlogDetail_history.notes_slide_cp != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_slide_p if record_playlogDetail_history.notes_slide_p != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_slide_great if record_playlogDetail_history.notes_slide_great != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_slide_good if record_playlogDetail_history.notes_slide_good != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_slide_miss if record_playlogDetail_history.notes_slide_miss != None }}</td>
                    </tr>
                    <tr>
                        <th class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/touch.png"/>
                        </th>
                        <td>{{ record_playlogDetail_history.notes_touch_cp if record_playlogDetail_history.notes_touch_cp != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_touch_p if record_playlogDetail_history.notes_touch_p != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_touch_great if record_playlogDetail_history.notes_touch_great != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_touch_good if record_playlogDetail_history.notes_touch_good != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_touch_miss if record_playlogDetail_history.notes_touch_miss != None }}</td>
                    </tr>
                    <tr>
                        <th class="f_0"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/break.png"/>
                        </th>
                        <td>{{ record_playlogDetail_history.notes_break_cp if record_playlogDetail_history.notes_break_cp != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_break_p if record_playlogDetail_history.notes_break_p != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_break_great if record_playlogDetail_history.notes_break_great != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_break_good if record_playlogDetail_history.notes_break_good != None }}</td>
                        <td>{{ record_playlogDetail_history.notes_break_miss if record_playlogDetail_history.notes_break_miss != None }}</td>
                    </tr>
                </table>
                <div class="playlog_rating_detail_block f_r t_l">
                    <table class="playlog_grade_block m_t_5 f_0">
                        <tr>
                            <td class="v_t"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/grade.png"
                                                 class="h_14"/></td>
                            <td class="t_r f_12">
                                <div class="playlog_rating_val_block">{{ record_playlogDetail_history.grade }}</div>
                                <span class="f_11">{{ record_playlogDetail_history.grade_diff }}</span></td>
                        </tr>
                        <tr>
                            <td class="v_t"><img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/rating.png"
                                                 class="h_12"/></td>
                            <td class="t_r f_12">
                                <div class="playlog_rating_val_block">{{ record_playlogDetail_history.rating }}</div>
                            </td>
                        </tr>
                    </table>
                    <div class="basic_block m_t_5 p_3 t_r f_0">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/deluxrating.png"
                             class="h_20 f_l"/><span class="f_14">{{ record_playlogDetail_history.delux_rating }}</span>
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_playlogDetail_history.delux_rating_diff }}.png"
                             class="h_20 f_r"/>
                    </div>
                    <div class="t_r f_0">
                        {% if record_playlogDetail.grade_pic_s == 'grade_rankup' %}
                            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/{{ record_playlogDetail.grade_pic_s }}.png"
                                 class="h_25 m_b_5"/>
                            {#                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{  }}.png"#}
                            {#                             class="h_25 m_t_10 m_b_5"/>#}
                        {% else %}
                            <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{ record_playlogDetail.grade_pic_s }}.png"
                                 class="h_25 m_t_10 m_b_5"/>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix m_b_5"></div>
                <div class="col2 f_l t_l f_0">
                    <div class="playlog_score_block p_5">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/maxcombo.png" class="h_20"/>
                        <div class="f_r f_14 white">{{ record_playlogDetail_history.maxcombo }}</div>
                    </div>
                </div>
                <div class="col2 p_l_5 f_l t_l f_0">
                    <div class="playlog_score_block p_5">
                        <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/playlog/maxsync.png" class="h_20"/>
                        <div class=" f_r f_14 white">{{ record_playlogDetail_history.maxsync }}</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        {% if record_playlogDetail_history.name %}
            <div class="see_through_block m_10 p_5 t_l f_14" id="matching">
												<span class="playlog_{{ record_playlogDetail_history.level_img_s | my_split('_', 1) }}_container w_120 p_3 d_ib f_0">
				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/{{ record_playlogDetail_history.level_img_s }}.png"
                     class="h_16"/>
				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_each.png" class="h_14 f_r"/>
				<div class="basic_block p_3 t_c f_11">{{ record_playlogDetail_history.name }}</div>
			</span>
                <span class="gray_block w_120 p_3 d_ib f_0 ">
				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_each.png" class="h_16 f_r"/>
				<div class="clearfix"></div>
				<div class="basic_block p_3 t_c f_11">―</div>
			</span>
                <span class="gray_block w_120 p_3 d_ib f_0 ">
				<img src="https://lab.yuangezhizao.cn/maimai-mobile/img/icon_each.png" class="h_16 f_r"/>
				<div class="clearfix"></div>
				<div class="basic_block p_3 t_c f_11">―</div>
			</span>
                <div class="f_r p_t_10 d_ib f_0" id="matchingCtrl">
                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/btn_off.png" class="h_30 m_t_5 m_b_5"/>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endif %}
    {% endfor %}

    <footer class="f_0">
        <div class="footer_marquee">
            <div class="footer w_480">
                {#                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 480 50"#}
                {#                     preserveAspectRatio="none" style="height:50px">#}
                {#                    <path d="M0,0 v25 q5,5 10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 t10,0 v-25 Z"#}
                {#                          fill="#7cbc29"></path>#}
                {#                </svg>#}
                {#                <div class="m_15 m_t_0 f_13">#}
                {#                    <div class="m_5"><a href="https://lab.yuangezhizao.cn/maimai-mobile/termsOfService/" target="_blank"#}
                {#                                        class="white" rel="noopener">使用条款</a></div>#}
                {#                    <div class="m_5"><a href="https://lab.yuangezhizao.cn/maimai-mobile/sitePolicy/" target="_blank"#}
                {#                                        class="white" rel="noopener">使用须知</a></div>#}
                {#                    <div class="m_5"><a href="https://sega-group.co.jp/english/privacypolicy/" target="_blank"#}
                {#                                        class="white" rel="noopener">私隐政策</a></div>#}
                {#                </div>#}
                {#                <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/line_02.png" class="w_430 m_b_10"/>#}
                {#                <div class="f_l m_15 m_l_30 p_l_10">#}
                {#                    <a href="http://sega.jp" target="_blank" rel="noopener"><img#}
                {#                            src="https://lab.yuangezhizao.cn/maimai-mobile/img/logo_sega.png"/></a>#}
                {#                    <div class="f_15 p_5">© SEGA</div>#}
                {#                </div>#}
                {#                <div class="m_15">#}
                {#                    <img src="https://lab.yuangezhizao.cn/maimai-mobile/img/logo_wahlap.png"/></a>#}
                {#                    <div class="f_11 p_3"><a href="http://www.miitbeian.gov.cn"#}
                {#                                             style="text-decoration:none; color: #fff" target="_blank" rel="noopener">粤ICP备05005783号</a>#}
                {#                </div>#}
                <div class="p_10">
                    <div class="f_12 l_h_12">© SEGA & WAHLAP</div>
                    <div class="f_12 l_h_12">Modified for personal use，yuangezhizao © 2020</div>
                    <div class="f_12 l_h_12"></div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script>
    $('#vsUserCtrl').click(function () {
        if ($('#vsUser span').is(':visible')) {
            $('#vsUser span').hide();
            $(this).children('img').attr('src', 'https://lab.yuangezhizao.cn/maimai-mobile/img/btn_on.png');
        } else {
            $('#vsUser span').show();
            $(this).children('img').attr('src', 'https://lab.yuangezhizao.cn/maimai-mobile/img/btn_off.png');
        }
    });
    $('#placeNameCtrl').click(function () {
        if ($('#placeName span').is(':visible')) {
            $('#placeName span').hide();
            $(this).children('img').attr('src', 'https://lab.yuangezhizao.cn/maimai-mobile/img/btn_on.png');
        } else {
            $('#placeName span').show();
            $(this).children('img').attr('src', 'https://lab.yuangezhizao.cn/maimai-mobile/img/btn_off.png');
        }
    });
    $('#matchingCtrl').click(function () {
        if ($('#matching span').is(':visible')) {
            $('#matching span').hide();
            $(this).children('img').attr('src', 'https://lab.yuangezhizao.cn/maimai-mobile/img/btn_on.png');
        } else {
            $('#matching span').show();
            $(this).children('img').attr('src', 'https://lab.yuangezhizao.cn/maimai-mobile/img/btn_off.png');
        }
    });
</script>
<script>
    var count_data = [];
    for (var i = 1; i < {{ count }}; i++) {
        count_data.push(i)
    }
    var achievement_data = {{ achievement_data | safe }};
    var delux_score_data = {{ delux_score_data | safe }};
    var fc_img_s_data = {{ fc_img_s_data | safe }};
    var cache_dt_data = {{ cache_dt_data | safe }};

    function convert_date_from_string(datetime) {
        var split_date = datetime.split(" ")[0].split('-');
        var date = new Date(split_date[0], split_date[1] - 1, split_date[2]);
        return date.getTime();
    }

    function final_convert(music_count_data) {
        var music_count_data_new = [];
        for (var i = 0; i < cache_dt_data.length; i++) {
            music_count_data_new.push([
                convert_date_from_string(cache_dt_data[i]),
                music_count_data[i]
            ]);
        }
        return music_count_data_new;
    }

    var chart = Highcharts.chart('container', {
        global: {
            useUTC: true
        },
        chart: {
            zoomType: "x",
            //backgroundColor: 'rgba(255, 255, 255, 0.6)',
        },
        title: {
            text: ''
        },
        // subtitle: {
        // 		text: 'Added by yuangezhizao © 2020'
        // },
        xAxis: {
            labels: {
                formatter: function () {
                    return Highcharts.dateFormat('%y/%m/%d', this.value);
                }
            },
            type: 'datetime',
            title: {
                text: '缓存时间'
            }
        },
        yAxis: [{
            title: {
                text: 'achievement'
            }
        }, {
            title: {
                text: 'delux_score'
            },
            opposite: true
        }, {
            title: {
                text: 'fc_img_s'
            },
        }],
        tooltip: {
            // formatter:function(){
            // 	var time=new Date(this.x),str='<span style="font-size:16px">',check=function(a){return (a<10?'0':'')+a};
            // 	str+=time.getFullYear()+'/'+check(time.getMonth()+1)+'/'+check(time.getDate())+'</span><br><table>';
            // 	if(!this.points){
            // 		str=check(time.getMonth()+1)+'/'+check(time.getDate())+'<br><table>';
            // 		str+='<tr><td style="color:'+this.color+'">'+this.point.name+'</td><td style="text-align:right">'+this.y+'</td></tr>';
            // 		str+='</table>';
            // 		return str;
            // 	}
            // 	this.points.sort(function(a,b){
            // 		return b.y - a.y;
            // 	});
            // 	this.points.forEach(function(i){
            // 		var legend = i.series.legendGroup.element.cloneNode(true);
            // 		legend.lastChild.remove();
            // 		str+='<tr><td style="color:'+i.color+'"><svg style="width:24px;height:8px" viewBox="0 7 24 8">'+legend.innerHTML+'</svg>'+i.series.name+'</td><td style="text-align:right">'+i.y+'</td></tr>';
            // 	});
            // 	str+='</table>';
            // 	return str;
            // },
            shared: true,
            // crosshairs: true,
            // useHTML: true
        },
        series: [{
            name: 'achievement',
            data: final_convert(achievement_data),
            yAxis: 0
        }, {
            name: 'delux_score',
            data: final_convert(delux_score_data),
            yAxis: 1
        }, {
            name: 'fc_img_s',
            data: final_convert(fc_img_s_data),
        }],
        credits: {
            enabled: false
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-65GFJD0XP7"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-65GFJD0XP7');
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?52627b664e5a3d9647f8361d409caf63";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>